{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div align="center">
        <h3>ArtHeritage is a website for searching art and connecting with other people from all around the world who
            enjoy
            doing that</h3>
        <br>
        <h4>Used APIs:</h4>
        <a href="https://developers.vam.ac.uk/guide/v2/welcome.html" style="text-decoration: none;"><h5>&#x2022;
            Victoria
            and Albert Museum Collections API*</h5></a>
        <h6>&nbsp;&nbsp;*This is currently the only API used to search for art, more will be added in the future</h6>
        <a href="https://iiif.io/api/image/3.0/" style="text-decoration: none;"><h5>&#x2022; IIIF Image API*</h5></a>
        <h6>&nbsp;&nbsp;*Used in V&amp;A's API docs</h6>
        <br>
        <h4>Used Python Modules:</h4>
        <h5>&#x2022; Flask 2.2.3</h5>
        <h5>&#x2022; Jinja2 3.1.2</h5>
        <h5>&#x2022; SQLAlchemy 2.0.8</h5>
        <h5>&#x2022; Flask-Login 0.6.2</h5>
        <h5>&#x2022; Werkzeug 2.2.3</h5>
        <h5>&#x2022; WTForms 3.0.1</h5>
        <h5>&#x2022; Flask-WTF 1.1.1</h5>
        <h5>&#x2022; requests 2.28.2</h5>
        <h5>&#x2022; Pillow 9.5.0</h5>
        <br>
        <h4>Tips:</h4>
        <h5>&#x2022; To search for dates in BC, write a negative number</h5>
    </div>
</div>
{% endblock %}

